---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5 flex justify-between items-center">
    <div class="text-3xl font-bold">Profile</div>
    <div class="mt-8">
      <a class="btn btn btn-primary text-white transition ease-in-out bg-purple-900 hover:scale-[103%] hover:bg-amber-500 hover:text-white" href="https://drive.google.com/file/d/1Swdc4qK03UBmr1-31ECfG3W11L8TFrfi/view?usp=sharing" target="_blank">View Resume</a>
    </div>
  </div>

  <div class="mb-10 text-justify">
    I am an enthusistic & experienced developer with a strong track record in designing and building software applications. My expertise spans across both front-end and back-end development, with a particular emphasis on creating high-scalable solutions. With a solid foundation in cloud technologies, I have successfully contributed to projects that demand efficiency, reliability, and performance. My in-depth knowledge of modern software development practices and cloud infrastructure ensures that I can deliver solutions that are both innovative and robust
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Masters in Computer Science"
      subtitle="2022 to 2023 at University of North Carolina at Charlotte, Charlotte, [USA]"
    />
    <TimeLineElement
      title="Bachelor of Technology (Computer Science and Engineering)"
      subtitle="2016 to 2020 at Jawaharlal Nehru Technological University, Hyderabad, [INDIA]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Graduate Teaching Assistant"
    subtitle="University of North Carolina at Charlotte"
    >
    • Facilitated learning in C++ and Operating Systems courses by preparing and delivering engaging lectures, conducting lab sessions, and grading assignments.<br/>
    • Collaborated with professors and fellow teaching assistants to improve course materials and enhance the learning experience for students.<br/>
    • Assisted students in troubleshooting and debugging code, and provided guidance on complex operating systems concepts.<br/>
    • Conducted regular office hours and extra help sessions to ensure students' comprehension and success in challenging coursework.<br/><br/>
    </TimeLineElement>
    <TimeLineElement
      title="Junior Software Engineer"
      subtitle="Feb 2021 – Jul 2022 at EPAM SYSTEMS, [INDIA]"
    >
    • Implemented Micro Front End Architecture (MFE) with React JS leveraging various custom-built web components and achieved a remarkable 30% performance boost in UI load time.<br/>
    • Revamped UI & design aesthetics from Durandal to React with optimized rendering, and seamless state management.<br/>
    • Developed AWS lambda functions for server-side rendering, this architectural optimization significantly reduced page load.<br/>
    • Engaged with the client within an Agile Scrum framework, actively involved in meetings, sprint planning, and retrospectives.<br/>
    • Utilized CI/CD tools Jenkins to automate builds, tests, and deployments, resulting in streamlined workflows and increased developer productivity.<br/><br/>
    </TimeLineElement>
    <TimeLineElement
      title="Software Developer Associate"
      subtitle="Aug 2020 – Jan 2021 at Teleparadigm Networks, [INDIA]"
    >
    • Spearheaded the development of the backend architecture for a cutting-edge digital pathology product.<br/>
    • Designed, implemented RESTful APIs for efficient communication between the frontend and backend components.<br/>
    • Employed CherryPy and Python to craft a highly performant and extensible backend, supporting complex data handling.<br/>
    • Managed containerization and orchestration using Docker and Kubernetes, strategically optimizing resource utilization and scalability to elevate the performance and efficiency of the application. <br/>
    • Collaborated with the operations teams to automate deployment processes using CI/CD, achieving zero-downtime releases.<br/><br/>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Introduction to Machine Learning (NPTEL IIT Madras)</a>
    </li>
    <li>
      <a href="#" target="_blank">  Full-Stack Web Development with React (COURSERA)</a>
    </li>
    <li>
      <a href="#" target="_blank">  AWS Academy Data Analytics (AWS)</a>
    </li>
    <li>
      <a href="#" target="_blank">  AWS Academy Cloud Foundation (AWS)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>Python</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>AWS EC2</li>
    <li>Lamda</li>
    <li>Git</li>
    <li>Jenkins</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>React</li>
    <li>Angular</li>
    <li>Node JS</li>
    <li>Express</li>
    <li>REST Api</li>
    <li>MySQL</li>
    <li>MongoDB</li>
  </ul>

</BaseLayout>
