---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Projects < / ></div>
  </div>

  <HorizontalCard
    title="Web based Quiz Management System"
    img="/Quiz_Logo.jpg"
    desc="Designed online application allows the instructor to design a quiz, restrict its access & shareability with unique code. Designed specialized Blind Quiz Module that allows visually impaired users to interact using speech commands.User authentication is handled through Firebase & MongoDB is utilized for storing and retrieving quiz information."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Fashion MNIST Dataset Analysis"
    img="/Data_Analysis_Logo.jpg"
    desc=" Conducted comprehensive exploratory data analysis (EDA on the Fashion MNIST dataset to gain valuable insights into the fashion images. This involved data cleaning, visualization, and statistical analysis to identify trends, patterns. Visualizations, such as histograms, bar plots & t-SNE plots, were used to showcase the distribution of different fashion item categories, providing a clearer picture of the dataset's structure and any potential patterns or anomalies.Designed and implemented CNN algorithms to solve classification problems on the Fashion MNIST dataset"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Parking Management System"
    img="/Carparking_Logo.png"
    desc="Designed & developed a comprehensive parking system using React, Node, Express & MongoDb. Built a user-friendly interface where parking spaces are defined within the system, enabling users to effortlessly book available slots by proving real time availability updates using firebase cloud messaging (FCM).Integrated the Stripe payment gateway to facilitate secure and seamless transactions for Slot reservations"
    url="#"
  />
  <div class="divider my-0"></div>
</BaseLayout>
